<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ post.slug }}</title>
        <link rel="stylesheet" href="/i-love-web/css-js/ilw.css"/>
        <link rel="stylesheet" href="/i-love-web/css-js/style.css"/>
        <script src="/i-love-web/css-js/main.js" defer></script>
        <link rel="stylesheet" href="/i-love-web/css-js/prism-vsc-dark-plus.css"/>
        <script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/prism.js"></script>
    </head>
    <body class="neutral">
        <header>
            {% include "nav.njk" %}
        </header>
        <main>
            {{ content | safe }}
        </main>
    </body>
</html>