<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title or "Rishi" }}</title>
        <link rel="stylesheet" href="/i-love-web/assets/ilw.css"/>
        <link rel="stylesheet" href="/i-love-web/assets/home.css"/>
        <script src="{{ pathPrefix }}assets/scripts.js" defer></script>
    </head>
    <body class="neutral">
        <header>
            <h1>{{ title }}</h1>
        </header>
        <main>
            <section class="link-container">
                <h2>Blogs</h2>
                <ul>
                    <li><a href="/i-love-web/Prettier‐code‐formatter/">Prettier code formatter</a></li>
                    <li><a href="/i-love-web/Living-standards-S14/">Cornershape</a></li>
                </ul>
            </section>
            {% set sprints = range(13, 16) %}
            {% for sprint in sprints %}
                {% set collectionName = "sprint " ~ sprint %}
                <section class="link-container">
                    <h2>Sprint {{ sprint }}</h2>
                    <ul>
                        {% for post in collections[collectionName] %}
                            <li>
                                <a href="/i-love-web{{ post.url }}">{{ post.data.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            {% endfor %}
        </main>
    </body>
</html>