<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title or "Rishi" }}</title>
        <link rel="stylesheet" href="/i-love-web/assets/ilw.css"/>
        <link rel="stylesheet" href="/i-love-web/assets/home.css"/>
        <script src="{{ pathPrefix }}assets/scripts.js" defer></script>
    </head>
    <body class="neutral">
        <header>
            <h1>{{ title }}</h1>
        </header>
        <main>
            {% set sprints = range(13, 21) -%}
            <ul>
                {% for sprint in sprints -%}
                    {% set collectionName = "sprint " ~ sprint -%}
                    {% if collections[collectionName] and collections[collectionName] | length > 0 -%}
                        <li>
                            <ul>
                                <li>Sprint {{ sprint }}</li>
                                {% for post in collections[collectionName] -%}
                                    <li>
                                        <a href="/i-love-web{{ post.url }}">{{ post.data.title }}</a>
                                    </li>
                                {% endfor -%}
                            </ul>
                        </li>
                    {% endif -%}
                {% endfor -%}
            </ul>
        </main>
    </body>
</html>