<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title or "Rishi" }}</title>
        <link rel="stylesheet" href="/i-love-web/assets/ilw.css"/>
        <link rel="stylesheet" href="/i-love-web/assets/home.css"/>
        <script src="{{ pathPrefix }}assets/scripts.js" defer></script>
    </head>
    <body class="neutral">
        <header>
            <h1>{{ title }}</h1>
            {% include "nav.njk" %}
        </header>
        <main>
            {{ content | safe }}
        </main>
    </body>
</html>