<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I Love Web</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/i-love-web.css">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

    <!-- scripts -->
	<script src="/scripts/main.js" defer></script>
</head>
<body class="font-lora">
    <header class="neutral">
        <h1><a href="/">Journal</a></h1>

        <input id='checkbox-open-menu' type='checkbox' aria-hidden="true" inert="true" hidden>
        <label class="button-open-menu" for='checkbox-open-menu'><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></label>

        <nav class="menu">
            <ul>
                <li>
                    <details>
                        <summary>Project pictures</summary>
                        <a href="/progress/sprint-1-Your-Tribe">sprint 1:Your-Tribe</a>
                        <a href="/progress/Sprint-2-The-Client">Sprint 2:The-Client</a>
                        <a href="/progress/Sprint-3-All-Human">Sprint 3:All-Human</a>
                        <a href="/progress/Sprint-4-Look-&-Feel">Sprint 4:Look-&-Feel</a>
                        <a href="/progress/Sprint-5-Fix-the-Flow">Sprint 5:Fix-the-Flow</a>
                        <a href="/progress/Sprint-6-The-Startup">Sprint 6:The-Startup</a>
                        <a href="/progress/Sprint-7-connect-your-tribe">Sprint 7:connect-your-tribe</a>
                        <a href="/progress/Sprint-8-Server-Side-Rendering">Sprint 8:Server-Side-Rendering</a>
                        <a href="/progress/Sprint-9-The-Web-is-for-Everyone">Sprint 9:The-Web-is-for-Everyone</a>
                    </details>
                </li>

                <li>
                    <details>
                        <summary>CSS</summary>
                        <a href="/html/styleguide-uitleg.html">mediahuis styleguide uitleg</a>
                        <a href="/html/styleguide-ilw.html">styleguide - I Love Web</a>
                    </details>
                </li>

                <li>
                    <details>
                        <summary>JavaScript</summary>
                        <a href="/html/js-snippets.html">LongPress</a>
                    </details>
                </li>
            </ul>
        </nav>
    </header>