# Systeembestanden (Mac & Windows)
.DS_Store
Thumbs.db

# Logbestanden
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node.js dependencies
node_modules/
.npm/

# Environment variables (gevoelige data)
.env

# VS Code & IDE bestanden
.vscode/
.idea/

# Cache & build bestanden
.cache/
dist/
public/build/

# Members directory (indien onbedoeld)
members/
