{% render 'partials/head.liquid' %}

<section class="semester-1-midterm text-primary primary">
	<article>
		<h2>Sprint 1: Your Tribe</h2>
		<h3>Datum: 4/9/24</h3>
		<p>
			vandaag heb ik een breakdown schets gemaakt
			dat is een schets van de website die ik wil bouwen.
			met daarin elementen die ik zou kunnen gebruiken.
		</p>
		<p>
			Ik heb ook gewerkt aan mijn visitekaartje.
			Ik heb een list toegevoegd mbv. dt en dd
			Deze tags waren in de template code.
			Ik heb ze nu aangepast en op een nieuwe manier ingedeelt m.b.v. een ul.
		</p>
		<p>
			<h4>Wat wil ik nog uitzoeken:</h4>
			in mijn list als ik hover over text wil ik een pop up tevoorschijn laten komen.
			In die pop up wil ik vertellen hoe ik de programeertaal heb geleerd en hoe goed ik ben daarin
		</p>
		<p>
			<h4>Verwijzingen:</h4>
			<a target="blank" href="./assets/visitekaart/breakdown_schets_v1.jpg">breakdown schets 1 en 2</a>
			<a target="blank" href="./assets/visitekaart/breakdown_schets_v2.jpg">breakdown schets 3</a>
		</p>
	</article>

	<article>
		<h2>{{ data[0].title }}</h2>
		<h3>Datum: {{ data[0].date }}</h3>
		{% for paragraph in data[0].content %}
		<p>
			{% if paragraph.header %}
			<h4>{{ paragraph.header }}</h4>
			{% endif %}
			{{ paragraph.text | raw }}
		</p>
		{% endfor %}
	</article>

	<article>
		<h2>Sprint 1: Your Tribe</h2>
		<h3>Datum: 4/9/24</h3>
		<p>
			vandaag heb ik een breakdown schets gemaakt
			dat is een schets van de website die ik wil bouwen.
			met daarin elementen die ik zou kunnen gebruiken.
		</p>
		<p>
			Ik heb ook gewerkt aan mijn visitekaartje.
			Ik heb een list toegevoegd mbv. dt en dd
			Deze tags waren in de template code.
			Ik heb ze nu aangepast en op een nieuwe manier ingedeelt m.b.v. een ul.
		</p>
		<p>
			<h4>Wat wil ik nog uitzoeken:</h4>
			in mijn list als ik hover over text wil ik een pop up tevoorschijn laten komen.
			In die pop up wil ik vertellen hoe ik de programeertaal heb geleerd en hoe goed ik ben daarin
		</p>
		<p>
			<h4>Verwijzingen:</h4>
			<a target="blank" href="./assets/visitekaart/breakdown_schets_v1.jpg">breakdown schets 1 en 2</a>
			<a target="blank" href="./assets/visitekaart/breakdown_schets_v2.jpg">breakdown schets 3</a>
		</p>
	</article>
</section>

</main>

{% render 'partials/foot.liquid', squads: squads %}