{% render 'partials/head.liquid' %}

{% comment %} {{ data | json }} {% endcomment %}
<main class="main-check-outs">
	<aside class="sprint-filters">
		<details>
			<summary>Filters</summary>
			<ul>
				<li><a href="/journal/sprint-1">print 1</a></li>
				<li><a href="/journal/sprint-2">print 2</a></li>
				<li><a href="/journal/sprint-3">print 3</a></li>
				<li><a href="/journal/sprint-4">print 4</a></li>
				<li><a href="/journal/sprint-5">print 5</a></li>
				<li><a href="/journal/sprint-6">print 6</a></li>
				<li><a href="/journal/sprint-7">print 7</a></li>
				<li><a href="/journal/sprint-8">print 8</a></li>
				<li><a href="/journal/sprint-9">print 9</a></li>
			</ul>
		</details>
	</aside>

	{% render 'partials/checkout-template.liquid', checkoutData: data%}

</main>

{% render 'partials/foot.liquid' %}