{% render 'partials/head.liquid' %}

<main class="main-code">
    oooooooo
    <section>s</section>
    <section>s</section>
    <section>s</section>
    <section>s</section>
    <section>s</section>
    <section>s</section>
    <section>s</section>
    <section>s</section>
    <section>s</section>
    <section>s</section>
    <section>s</section>
</main>

{% render 'partials/foot.liquid' %}