
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 120;
    position: fixed;
    top: 0;
    left: 0;
    /* min-height: 4em; */
    height: 4em;
    width: 100%;

    h1 {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    #checkbox-open-menu {
        &:checked {
            & ~ .menu {
                right: 0;
            }
        }
    }

    .button-open-menu {
        margin-right: 1em;
    }

    &.scroll-up {
        transform: translateY(0);
        transition: 0.5s;
    }

    &.scroll-down {
        transform: translateY(-100%);
        transition: 0.5s;
    }
}

.menu {
    position: absolute;
    background-color: var(--semester-neutral);
    height: 100dvh;
    top: 4em;
    right: -15em;
    transition: right 0.3s ease;

    ul {
        margin: 1em 0 0 1em;

        li{
            padding: 0 1em 0 0;
            margin: 1em 0 0 0;

            details {
                border: none;
                cursor: pointer;

                &:hover {
                    color: rgb(21, 24, 198);
                }

                a {
                    margin: 0.5em 0 0 2em;
                    scale: none;

                    &:hover {
                        color: rgb(21, 24, 198);
                    }

                    &:active {
                        scale: 0.7;
                    }
                }
            }
        }
    }
}

.main-check-outs {
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    overflow-y: hidden;
    
    .sprint {
        margin: 0 clamp(1rem, 5vw, 2rem);

        article:first-child {
            margin-top: 5em;
        }

        article:last-child {
            margin-bottom: 10em;
        }
    }
    .semester-1-midterm {
        background: linear-gradient(to bottom, #00ff77, #aaff00);
    }

    .semester-1-endterm {
        background: linear-gradient(to bottom, #aaff00, #ffe100);
    }

    .semester-2-midterm {
        background: linear-gradient(to bottom, #ffe100, #ff2a00);
    }

    article {
        max-width: clamp(40ch, 60%, 75ch);
        margin: 0 auto;
        padding: 2em;
        border: 2px solid var(--semester-secondary);
        border-radius: 10px;
        margin-top: 3em;
        margin-bottom: 1em;
    
        /* article is niet te zien */
        opacity: 0;
    
    
        background-color: var(--semester-neutral);
    
        h2 {
            margin-top: 0.5em;
        }
    
        h3 {
            margin-bottom: 0.5em;
        }
    
        h4 {
            margin-top: 0.5em;
        }
    
        /* de animation brengt de article in beeld */
        &.animation1 {
            position: relative;
            opacity: 1;
            animation: right_slide_in 2s;
        }
    
        /* ul + a in styleguide */
        /* kleuren + fonts in HTML */
    }
}

.main-progress {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2, h3 {
        margin-top: 4em;
        position: relative;
    }

    .container {
        display: flex;
        flex-direction: row;
        width: 85vw;
        margin-bottom: 5em;

        button {
            background-color: inherit;
            border: none;
        }

        .content {
            scroll-snap-type: x mandatory;

            display: flex;
            flex-direction: row;
            overflow-x: auto;
            gap: 3em;
        }
    }

    .snap-element {
        scroll-snap-align: center;

        height: 40em;
        justify-content: center;
        display: flex;
        flex: 0 0 60%;

        figure {
            margin-top: 3em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            figcaption {
                text-align: center;
                font-weight: bold;
                font-size: large;
            }

            img, video  {
                max-height: 38vw;
                max-width: 50vw;
                padding: 0.5em;
            
                border: 1px solid black;
                border-radius: 5px;
                text-align: center;
            }
        }
    }
}





@keyframes right_slide_in {
    from {
        translate: 150%;
    }
    to {
        translate: 0;
    }
}