/* RESET */
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  object-fit: cover;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));

  place-items: center;
  gap: 1em;
  margin-top: 12em;
  padding: 0 clamp(1em, 10vw, 5em);
}

header {
  place-items: center;
}

.link-container {
  align-self: start;
  width: 15em;
  overflow: hidden;
  background-color: var(--dark-1);
  box-shadow: 1px 1px 10px 0 var(--dark-2);
  padding: 1em;
  border: 2px solid var(--dark-2);
  border-radius: var(--radius);

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    list-style: disc;

    li {
      margin-left: 1.25em;
    }
  }
}
