/* RESET */
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    object-fit: cover;
}

h1 {
    grid-row: 1;
    grid-column: 1/-1;
    align-self: center;
    margin: 0.4em 0 0.4em 0;
    /* padding-bottom: 0.5em; */
    text-align: center;
    font-size: 4rem;
}

main {
    --boder: 2px solid var(--color-accent-primary);
    --radius: 15px;
    --child-radius: calc(var(--radius)/2);

    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    gap: 1em;
    margin-top: 12em;
    padding: 0 clamp(1em, 10vw, 5em);

    @media (min-width: 725px) {
        grid-template-columns: 1fr min-content min-content 1fr;
        padding: 0 2em;
    }

    .person, .about, .skills, .projects {
        border: var(--boder);
        border-radius: var(--radius);
        padding: clamp(1em, 5vw, 2em);
    }
}

.person {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: 725px) {
        grid-row: 1;
        grid-column: 2;
        width: 350px;
    }

    img {
        border-radius: var(--child-radius);
        align-self: center;
        max-width: 15em;
    }

    p {
        padding: 0.5em 0;
    }

    ul {
        display: flex;
        margin-top: 1em;
        gap: 1em;
        justify-content: center;
    }
}

.skills {
    height: 100%;
    width: 100%;

    @media (min-width: 725px) {
        grid-row: 1;
        grid-column: 3/4;
        width: clamp(250px, 35vw, 800px);
    }

    @media (min-width: 825px) {
        width: clamp(250px, 45vw, 800px);
    }

    h2 {
        margin-bottom: 0.5em;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    li {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid;
    }
}

.projects {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1em;

    @media (min-width: 725px) {
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        /* grid-template-columns: 1fr 1fr 1fr; */
    }

    @media (min-width: 725px) {
        grid-row: 3;
        grid-column: 2/4;
    }

    h2 {
        grid-column: 1/-1;
        align-self: start;
    }
}

.project-card {
    display: grid;
    grid-template-rows: 1fr min-content min-content;
    gap: 0.75em;
    background-color: blueviolet;
    padding: clamp(0.5em, 5vw, 1em);
    border-radius: var(--radius);
    width: 100%;
    height: auto;

    h2 {
        grid-row: 2;
    }

    img {
        grid-row: 1;
        border-radius: var(--child-radius);
        width: 100%;
    }

    div {
        display: flex;
        gap: 1em;

        a {
            background-color: brown;
            text-decoration: none;
            padding: 0.5em;
            border-radius: var(--child-radius);
        }
    }
}