
/* scroll bar met items
https://codepen.io/cbolson/pen/OJeaYgZ */

/* https://codepen.io/shooft/pen/WNVZYeZ */

/* https://blog.webdevsimplified.com/2022-01/intersection-observer/ */

/* RESET */
* {
    box-sizing: border-box;
    margin: 0;

    list-style-type: none;
    list-style: none;

    font-family: sans-serif;

    object-fit: cover;

    overflow-x: hidden;

    text-decoration: none;

}
/* ----------------------------------------------------------------- */

:root {
    --sprint1: rgb(1, 94, 255);
    --sprint2: rgb(0, 255, 255);
    --sprint3: rgb(47, 255, 0);
    --sprint4: rgb(138, 143, 9);

    --article: white;

    --a: black;
    --a_hover: white;
}

body {
    header {
        display: flex;
        justify-content: center;
    }

    main {
        #sprint1 {
            /* met to bottom gaat de eerste kleur over naar de tweede kleur */
            background: linear-gradient(to bottom, var(--sprint1), var(--sprint2));
        }
        
        #sprint2 {
            background: linear-gradient(to bottom, var(--sprint2), var(--sprint3));
        }
        
        #sprint3 {
            background: linear-gradient(to bottom, var(--sprint3), var(--sprint4));
        }

        section {
            display: flex;
            flex-direction: column;
            align-items: center;

            scroll-behavior: smooth;
            overflow-y: hidden;

            article {
                background-color: var(--article);
                box-shadow: 7px 7px 0 rgb(189, 187, 187);
                border: 2px solid black;
                border-radius: 10px;
                padding: 1em;
                margin-bottom: 5em;
                width: 50vw;

                p {
                    strong {
                        display: inline-block;
                    }

                    a {
                        display: inline-block;
                        text-align: center;
                        vertical-align: middle;
                        white-space: nowrap;
                        background-color: rgb(150, 150, 150);
                        color: var(--a);
                        border-radius: 15px;
                        max-width: max-content;
                        margin: 0.2em;
                        padding: 0.3em;
                    }

                    a:hover {
                        background-color: var(--a);
                        color: var(--a_hover);
                    }
                }
            }
            /* article is niet te zien */
            article {
                opacity: 0;
            }

            /* de animation brengt de article in beeld */
            .animation1 {
                position: relative;
                opacity: 1;
                animation: right_slide_in 2s;
            }

            article:first-child {
                margin-top: 10em;
            }

            article:last-child {
                margin-bottom: 10em;
            }
        }
    }
}


/* https://codepen.io/Andrew-Neely-82/pen/qBzmYNr?editors=1100 */

/* key frames laat weten hoe de animatie uitgevoerd moet worden */
@keyframes left_slide_in {
    /* de article wordt eerst uit beeld gehaald */
    from {
        translate: -150%;
    }
    /* de article wordt terug naar de begin positie gebracht */
    to {
        translate: 0;
    }
}

@keyframes right_slide_in {
    from {
        translate: 150%;
    }
    to {
        translate: 0;
    }
}

@keyframes scale_in {
    from {
        scale: 0;
    }
    to {
        scale: 1;
    }
}

@keyframes scale_rotate_in {
    from {
        scale: 0;
    }
    to {
        rotate: 360deg;
        scale: 1;
    }
}

@keyframes scale2_rotate_in {
    from {
        scale: 0;
    }
    to {
        
        scale: 1;
    }
}
