/* to do */
/* a altijd op een nieuwe regel */
/* na stronge altijd een br */
/* dmv display flex op de p */



/* scroll bar met items
https://codepen.io/cbolson/pen/OJeaYgZ */

/* https://codepen.io/shooft/pen/WNVZYeZ */

/* https://blog.webdevsimplified.com/2022-01/intersection-observer/ */

/* RESET */
* {
    box-sizing: border-box;
    margin: 0;

    list-style-type: none;
    list-style: none;

    font-family: sans-serif;

    object-fit: cover;

    overflow-x: hidden;

    text-decoration: none;

}
/* ----------------------------------------------------------------- */

:root {
    --header: rgb(17, 255, 0);

    --sprint1: rgb(0, 94, 255);
    --sprint2: rgb(0, 255, 255);
    --sprint3: rgb(47, 255, 0);
    --sprint4: rgb(135, 140, 0);
    --sprint5: rgb(140, 84, 0);
    --sprint6: rgb(140, 28, 0);

    --article: white;

    --box_shadow: rgb(189, 187, 187);

    --a: black;
    --a_background: rgb(129, 129, 129);
    --a_hover: white;
    --a_box_shadow:rgb(178, 178, 178);
    --a_box_shadow_hover: rgb(99, 99, 99);
}

@font-face {
    font-family: pixel_font;
    src: url(../assets/fonts/custom_pixel_font-Regular.otf);
}

.custom_pixel_font {
    font-family: pixel_font;
}

/* ----------------------------------------------------------------- */

body {
    header {
        background-color: var(--header);
        display: flex;
        justify-content: space-between;
        align-items: center;

        z-index: 100;
        position: fixed;
        top: 0;
        left: 0;
        min-height: 4em;
        max-height: 10em;
        width: 100%;

        h1 {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }

        .nav_container {
            position: relative;

            .hamburger {
                font-size: 30px;
                margin-right: 1em;
            }

            .menu {
                display: none;

                li {
                    position: fixed;
                    transform: translate(-15em, 15em);
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    a {
                        position: relative;
                        top: 16em;

                        background-color: black;
                        padding: 5em;
                    }
                }

                .sub_menu {
                    display: none;
                }

                li.active > .sub_menu {
                    display: block;
                }
            }
        }

        .nav_container.active .menu{
            display: block;
        }
    }

    .scroll-up {
        transform: translateY(0);
        transition: 0.5s;
    }

    .scroll-down {
        transform: translateY(-100%);
        transition: 0.5s;
    }

    main {
        #sprint1 {
            /* met to bottom gaat de eerste kleur over naar de tweede kleur */
            background: linear-gradient(to bottom, var(--sprint1), var(--sprint2));
        }
        
        #sprint2 {
            background: linear-gradient(to bottom, var(--sprint2), var(--sprint3));
        }
        
        #sprint3 {
            background: linear-gradient(to bottom, var(--sprint3), var(--sprint4));
        }

        #sprint4 {
            background: linear-gradient(to bottom, var(--sprint4), var(--sprint5));
        }

        #sprint5 {
            background: linear-gradient(to bottom, var(--sprint5), var(--sprint6));
        }

        section {
            display: flex;
            flex-direction: column;
            align-items: center;

            scroll-behavior: smooth;
            overflow-y: hidden;

            article {
                background-color: var(--article);
                box-shadow: 7px 7px 0 var(--box_shadow);
                border: 2px solid black;
                border-radius: 10px;
                padding: 1em;
                margin-bottom: 5em;
                width: 50vw;

                p {
                    display: flex;
                    flex-direction: column;
                    margin-top: 1em;

                    strong {
                        display: inline-block;
                    }

                    span {
                        display: inline-block;
                        margin-top: 0.5em;
                    }

                    a {
                        display: inline-block;
                        text-align: center;
                        vertical-align: middle;
                        white-space: nowrap;
                        background-color: var(--a_background);
                        color: var(--a);
                        box-shadow: 3px 3px 0 var(--a_box_shadow);
                        border-radius: 15px;
                        max-width: max-content;
                        margin: 0.2em;
                        padding: 0.3em;
                    }

                    a:hover {
                        background-color: var(--a);
                        color: var(--a_hover);
                        box-shadow: 2.5px 2px 0 var(--a_box_shadow_hover);
                    }
                }
            }

            /* article is niet te zien */
            article {
                opacity: 0;
            }

            /* de animation brengt de article in beeld */
            .animation1 {
                position: relative;
                opacity: 1;
                animation: right_slide_in 2s;
            }
        }

        section:first-of-type article:first-of-type {
            margin-top: 10em;
        }

        section:last-child article:last-child {
            margin-bottom: 10em;
        }
    }
}


/* https://codepen.io/Andrew-Neely-82/pen/qBzmYNr?editors=1100 */

/* key frames laat weten hoe de animatie uitgevoerd moet worden */
@keyframes left_slide_in {
    /* de article wordt eerst uit beeld gehaald */
    from {
        translate: -150%;
    }
    /* de article wordt terug naar de begin positie gebracht */
    to {
        translate: 0;
    }
}

@keyframes right_slide_in {
    from {
        translate: 150%;
    }
    to {
        translate: 0;
    }
}

@keyframes scale_in {
    from {
        scale: 0;
    }
    to {
        scale: 1;
    }
}

@keyframes scale_rotate_in {
    from {
        scale: 0;
    }
    to {
        rotate: 360deg;
        scale: 1;
    }
}

@keyframes scale2_rotate_in {
    from {
        scale: 0;
    }
    to {
        
        scale: 1;
    }
}
