/* to do */
/* a altijd op een nieuwe regel */
/* na stronge altijd een br */
/* dmv display flex op de p */



/* scroll bar met items
https://codepen.io/cbolson/pen/OJeaYgZ */

/* https://codepen.io/shooft/pen/WNVZYeZ */

/* https://blog.webdevsimplified.com/2022-01/intersection-observer/ */

/* RESET */
* {
    box-sizing: border-box;
    margin: 0;

    list-style-type: none;
    list-style: none;

    font-family: sans-serif;

    object-fit: cover;

    overflow-x: hidden;

    text-decoration: none;

}
/* ----------------------------------------------------------------- */

body {
    --header: rgb(204, 255, 0);

    --sprint1: rgb(0, 255, 89);
    --sprint2: rgb(51, 255, 0);
    --sprint3: rgb(115, 255, 0);
    --sprint4: rgb(195, 255, 0);
    --sprint5: rgb(229, 255, 0);
    --sprint6: rgb(255, 230, 0);
    --sprint7: rgb(255, 123, 0);
    --sprint8: rgb(255, 72, 0);

    --article: white;

    --box_shadow: 5px 5px 9px gray;

    --a: black;
    --a_background: rgb(129, 129, 129);
    --a_hover: white;
    --a_box_shadow:rgb(178, 178, 178);
    --a_box_shadow_hover: rgb(99, 99, 99);
    --button-scale: 1.05;
}



/* ----------------------------------------------------------------- */

.hidden {
    opacity: 0;
    z-index: 0;
}

body {
    header {
        background-color: var(--header);
        display: flex;
        justify-content: space-between;
        align-items: center;

        z-index: 100;
        position: fixed;
        top: 0;
        left: 0;
        min-height: 4em;
        max-height: 10em;
        width: 100%;

        h1 {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }

        .open-menu {
            border: none;
            margin-left: auto;
            background-color: inherit;
            z-index: 120;
        
            cursor: pointer;
        
            &:hover {
                scale: 1.2;
                transform-origin: left;
            }
        }
    }

    nav {
        position: fixed;
        top: 4em;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 110;


        ul {
            height: 100vh;
            width: 100vw;
            position: relative;

            li {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                background-color: aliceblue;
                border-radius: 50%;
                height: 7em;
                width: 7em;

                opacity: 0;
                scale: 0;
    
                animation: scaleOpacityAnimation 1s forwards;

                a {
                    color: black;
                }
            }

            li:nth-of-type(1) {
                transform: translate(5em, 10em);
                animation-delay: 0s;
            }

            li:nth-of-type(2) {
                transform: translate(20em, 30em);
                animation-delay: 0.4s;
            }

            li:nth-of-type(3) {
                transform: translate(35em, 20em);
                animation-delay: 0.8s;
            }

            li:nth-of-type(4) {
                transform: translate(60em, 25em);
                animation-delay: 1.2s;
            }

            li:nth-of-type(5) {
                transform: translate(60em, 15em);
                animation-delay: 1.6s;
            }

            li:nth-of-type(6) {
                transform: translate(70em, 5em);
                animation-delay: 1.6s;
            }
        }
    }

    .scroll-up {
        transform: translateY(0);
        transition: 0.5s;
    }

    .scroll-down {
        transform: translateY(-100%);
        transition: 0.5s;
    }

    main {
        #sprint1 {
            /* met to bottom gaat de eerste kleur over naar de tweede kleur */
            background: linear-gradient(to bottom, var(--sprint1), var(--sprint2));
        }
        
        #sprint2 {
            background: linear-gradient(to bottom, var(--sprint2), var(--sprint3));
        }
        
        #sprint3 {
            background: linear-gradient(to bottom, var(--sprint3), var(--sprint4));
        }

        #sprint4 {
            background: linear-gradient(to bottom, var(--sprint4), var(--sprint5));
        }

        #sprint5 {
            background: linear-gradient(to bottom, var(--sprint5), var(--sprint6));
        }

        #sprint6 {
            background: linear-gradient(to bottom, var(--sprint6), var(--sprint7));
        }

        section {
            display: flex;
            flex-direction: column;
            align-items: center;

            scroll-behavior: smooth;
            overflow-y: hidden;

            article {
                background-color: var(--article);
                box-shadow: var(--box_shadow);
                border: 2px solid black;
                border-radius: 10px;
                padding: 1em;
                margin-bottom: 5em;
                width: 50vw;

                p {

                    margin-top: 1em;

                    strong {
                        display: flex;
                        flex-direction: column;
                    }

                    span {
                        display: inline-block;
                        margin-top: 0.5em;
                    }
                }

                a {
                    display: inline-block;
                    vertical-align: middle;
                    white-space: nowrap;
                    background-color: var(--a_background);
                    color: var(--a);
                    border-radius: 15px;
                    max-width: max-content;
                    padding: 0.3em;
                }

                a:hover {
                    position: relative;
                    scale: var(--button-scale);
                    box-shadow: var(--box_shadow);
                    transform-origin: bottom left;
                }
            }

            /* article is niet te zien */
            article {
                opacity: 0;
            }

            /* de animation brengt de article in beeld */
            .animation1 {
                position: relative;
                opacity: 1;
                animation: right_slide_in 2s;
            }
        }

        section:first-of-type article:first-of-type {
            margin-top: 10em;
        }

        section:last-child article:last-child {
            margin-bottom: 10em;
        }
    }
}


/* https://codepen.io/Andrew-Neely-82/pen/qBzmYNr?editors=1100 */

/* key frames laat weten hoe de animatie uitgevoerd moet worden */
@keyframes left_slide_in {
    /* de article wordt eerst uit beeld gehaald */
    from {
        translate: -150%;
    }
    /* de article wordt terug naar de begin positie gebracht */
    to {
        translate: 0;
    }
}

@keyframes scaleOpacityAnimation {
    0% {
        opacity: 0;
        scale: 0;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

@keyframes right_slide_in {
    from {
        translate: 150%;
    }
    to {
        translate: 0;
    }
}

@keyframes scale_in {
    from {
        scale: 0;
    }
    to {
        scale: 1;
    }
}

@keyframes scale_rotate_in {
    from {
        scale: 0;
    }
    to {
        rotate: 360deg;
        scale: 1;
    }
}

@keyframes scale2_rotate_in {
    from {
        scale: 0;
    }
    to {
        
        scale: 1;
    }
}
