/* css code voor journal.html */


.journal_body {
    font-family: Arial, Helvetica, sans-serif;

    /* positie van de articles in de body */
    padding-left: 8vw;
    padding-bottom: 2em;

    /* turn off side scrolling */
    overflow-x: hidden;

}

/* alle articles onder elkaar */
.article_position {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

/* grid waar de daily check out in komt te staan */
.daily_checkout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas: 
    "title1 title2"
    "area1 area1"
    "area2 area2"
    ;
    
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    gap: 1em;

    margin-top: 5em;
    /* height: 65vh; */
    width: 80vw;
}

.title {
    grid-area: title1;
}
.date {
    grid-area: title2;
}
.article_inhoud {
    grid-area: area1;
}
.article_footer {
    grid-area: area2;
}
