
body {
    text-align: center;
}
/* zet titel vande image en de image onder elkaar. */
li {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding-bottom: 05em;
    align-items: center;
}

.foto {
    /* background-color: rgb(89, 165, 231); */
    box-sizing: border-box;
    height: 38vw;
    width: 50vw;
    padding: 0.5em;

    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

.portrait_foto {
    box-sizing: border-box;
    height: 38vw;
    width: 25vw;
    padding: 0.5em;

    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}