article dl {
    display: grid;
    /* 3 kolommen */
    grid-template-columns: repeat(3, 1fr);
    /* Ruimte tussen de items */
    gap: 2em;
    /* grootte van de items */
    height: 65vh;
    width: 80vw;
  }

.sprint-cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "item1 item2 ."
  "item3 item4 item5"
  ;
  /* Zet de dt en dd onder elkaar */
  flex-direction: column; 
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
  text-align: center;
}
/* grid indelen */
